
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Кабинет администратора</title>
</head>
<body>
    <center>
        <h1>ГЛАВНАЯ</h1>
        <h3>
            <a href="/Admin/Clients">Клиенты</a>
        </h3>
        <h3>
            <a href="/Admin/Coaches">Тренера</a>
        </h3>
        <h3>
            <a href="/Admin/Purchases">Аренда</a>
        </h3>
        <h3>
            <a href="/Admin/Exit">Выйти из учётной записи</a>
        </h3>
        <a href="/Admin/ClearAll" onclick="return confirm('Действительно удалить?');">Очистить ВСЮ базу данных</a>
    </center>
</body>
</html>
