
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Поиск</title>
</head>
<body>
    <center>
        <table border="1" cellpadding="10" cellspacing="0">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Действия
                </th>
            </tr>
            @foreach (var v in ViewBag.Clients)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Name</td>
                    <td>@v.Surname</td>
                    <td>@v.Phone</td>
                    <td>
                        <a href="/Admin/RemoveClient/@v.Id" onclick="return confirm('Действительно удалить?');">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        </table>
        <h1>
            <a href="/Admin/Clients">Назад</a>
        </h1>
        <h1>
            <a href="/Admin/Index">На главную</a>
        </h1>
    </center>
</body>
</html>
