@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ошибочка</title>
    <link href="~/Content/error.css" rel="stylesheet" />
    <link rel="icon" href="../../Content/favicon.ico" type="image/x-icon">
</head>
    <body>
        <div>
            <h1>УПС! Кажется кто-то успел забронировать данное время на несколько секунд раньше Вас(</h1>
            <center>
                <a href="/Home/Date">Повторить попытку</a>
                <a href="/Home/Index">Отмена</a>
            </center>
        </div>
    </body>
</html>
