body {
    background-color: red;
    font-family: arial, non-serif;
    min-width: 1000px;
}

div{
    width: 1000px;
    margin: 0 auto;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

a {
    text-decoration: none;
    color: yellow;
    margin: 0 auto;
    background-color: green;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 30px;
    margin: 10px;
}

a:hover{
    background-color: yellow;
    color: black;
}